SRV_UWP_2015V/Service References/ServiceRef/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IStudentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://srvwcfservice.azurewebsites.net/services/StudentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://srvwcfservice.azurewebsites.net/services/StudentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://srvwcfservice.azurewebsites.net/services/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SRV_WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_GetStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IStudentService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_CalQualProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:CalQualProgress" />
  </wsdl:message>
  <wsdl:message name="IStudentService_CalQualProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalQualProgressResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetQualificationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQualificationList" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetQualificationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQualificationListResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetCompetencyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompetencyList" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetCompetencyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompetencyListResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetQualification_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQualification" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetQualification_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQualificationResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetNotPassedCompetencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotPassedCompetencies" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetNotPassedCompetencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotPassedCompetenciesResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="GetStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentById" message="tns:IStudentService_GetStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentByIdResponse" message="tns:IStudentService_GetStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/Login" message="tns:IStudentService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/LoginResponse" message="tns:IStudentService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalQualProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/CalQualProgress" message="tns:IStudentService_CalQualProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/CalQualProgressResponse" message="tns:IStudentService_CalQualProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQualificationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetQualificationList" message="tns:IStudentService_GetQualificationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetQualificationListResponse" message="tns:IStudentService_GetQualificationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompetencyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetCompetencyList" message="tns:IStudentService_GetCompetencyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetCompetencyListResponse" message="tns:IStudentService_GetCompetencyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQualification">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetQualification" message="tns:IStudentService_GetQualification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetQualificationResponse" message="tns:IStudentService_GetQualification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudents" message="tns:IStudentService_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentsResponse" message="tns:IStudentService_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotPassedCompetencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetNotPassedCompetencies" message="tns:IStudentService_GetNotPassedCompetencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetNotPassedCompetenciesResponse" message="tns:IStudentService_GetNotPassedCompetencies_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IStudentService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalQualProgress">
      <soap:operation soapAction="http://tempuri.org/IStudentService/CalQualProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQualificationList">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetQualificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompetencyList">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetCompetencyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQualification">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetQualification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotPassedCompetencies">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetNotPassedCompetencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IStudentService" type="tns:IStudentService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IStudentService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IStudentService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalQualProgress">
      <soap:operation soapAction="http://tempuri.org/IStudentService/CalQualProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQualificationList">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetQualificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompetencyList">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetCompetencyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQualification">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetQualification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotPassedCompetencies">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetNotPassedCompetencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://srvwcfservice.azurewebsites.net/services/StudentService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IStudentService" binding="tns:BasicHttpsBinding_IStudentService">
      <soap:address location="https://srvwcfservice.azurewebsites.net/services/StudentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>