SRV_UWP_2015V/Service References/ServiceRef/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://srvwcfservice.azurewebsites.net/services/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SRV_WcfService" />
  <xs:element name="GetStudentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SRV_WcfService" minOccurs="0" name="GetStudentByIdResult" nillable="true" type="q1:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inUserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalQualProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qualCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalQualProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalQualProgressResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualificationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualificationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SRV_WcfService" minOccurs="0" name="GetQualificationListResult" nillable="true" type="q2:ArrayOfQualification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetencyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qualificationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetencyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SRV_WcfService" minOccurs="0" name="GetCompetencyListResult" nillable="true" type="q3:ArrayOfCompetency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="qualCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SRV_WcfService" minOccurs="0" name="GetQualificationResult" nillable="true" type="q4:Qualification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>